@using Hermes.DAL;
@using Hermes.Models;

@{
    ViewBag.Title = "ΒΝΣ πρόσκλησης";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string schoolYear = ViewData["schoolYearText"].ToString();
    string protocol = ViewData["prosklisiProtocol"].ToString();
    string displayInfo = schoolYear + ": " + protocol;
}


@Html.AntiForgeryToken()
<div class="page-header" style="margin:5px 30px 5px 30px">
    <span style="margin:5px 60px 5px 20px">
        <font style="color:#00008b;float:left;font-family:'Segoe UI'">
            @Html.Label("", "Στοιχεία ΒΝΣ πρόσκλησης  " + displayInfo, new { @style = "font-size:15px;font-style:normal" })
        </font>
    </span>
    <span style="margin:5px 10px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Admin", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
    <button class="btn btn-info" style="margin:5px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
</div>

<div class="body-content" style="margin:15px 30px 5px 30px">
        @(Html.Kendo().Grid<StationsGridViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(m => m.ΕΠΩΝΥΜΙΑ).Width(30);
            columns.Bound(m => m.EMAIL).Width(30);
            columns.ForeignKey(f => f.ΠΕΡΙΦΕΡΕΙΑΚΗ, (IEnumerable<SYS_PERIFERIAKES>)ViewData["periferiakes"], "ΚΩΔΙΚΟΣ_ΠΕΡΙΦΕΡΕΙΑ", "ΠΕΡΙΦ_ΣΥΝΤΟΜΟΓΡΑΦΙΑ").Width(40);
            columns.ForeignKey(f => f.ΠΕΡΙΦΕΡΕΙΑ, (IEnumerable<SYS_PERIFERIES>)ViewData["periferies"], "PERIFERIA_ID", "PERIFERIA_NAME").Width(40);
            columns.Bound(m => m.ΣΥΜΜΕΤΟΧΗ).Width(15).ClientTemplate("<input type='checkbox' #= ΣΥΜΜΕΤΟΧΗ ? checked='checked' : '' # class='chkbx' ></input>").Filterable(false);
            columns.Command(command => { command.Destroy(); }).Width(20);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
            toolBar.Save();
        })
        .Filterable()
        .Groupable()
        .Navigatable()
        .HtmlAttributes(new { style = "display:block;font-size:13px" })        
        .Editable(editable => editable.Mode(GridEditMode.InCell).CreateAt(GridInsertRowPosition.Top))
        .Resizable(resize => resize.Columns(true))
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(420))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .Batch(true)
        .PageSize(40)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.ΣΤΑΘΜΟΣ_ΚΩΔ);
            model.Field(p => p.ΠΕΡΙΦΕΡΕΙΑΚΗ).DefaultValue(1);
            model.Field(p => p.ΠΕΡΙΦΕΡΕΙΑ).DefaultValue(ViewData["defaultPeriferia"]);
            model.Field(p => p.ΣΥΜΜΕΤΟΧΗ).DefaultValue(true);
        })
        .Create(create => create.Action("Station_Create", "Tools"))
        .Read(read => read.Action("Station_Read", "Tools"))
        .Update(update => update.Action("Station_Update", "Tools"))
        .Destroy(destroy => destroy.Action("Station_Destroy", "Tools"))
        .Events(events => events.Error("error_handler"))
    ) @* datasource*@
    )
</div>

<script id="checkbox-events" type="text/javascript">

    // Date: 16-11-2018
    // THIS IS IT! It works for any number of checkbox columns
    // in batch editing mode of the grid.
    // Solution link: https://stackoverflow.com/questions/17889049/adding-bindeable-checkbox-column-to-grid
    $(function () {
        $('#Grid').on('click', '.chkbx', function () {
            var checked = $(this).is(':checked');
            var grid = $('#Grid').data().kendoGrid;

            grid.closeCell();
            var dataItem = grid.dataItem($(this).closest('tr'));
            var col = $(this).closest('td');

            grid.editCell(col);
            dataItem.set(grid.columns[col.index()].field, checked);
            grid.closeCell(col);
        });
    });

</script>


<script type="text/javascript">

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Σφάλμα");
        }
        RefreshGrid(e);
    }

</script>


