@using Hermes.DAL;
@using Hermes.Models;

@{
    ViewBag.Title = "Αιτήσεις";
    Layout = "~/Views/Shared/_ParentLayout.cshtml";
}

@Html.AntiForgeryToken()
<div class="row" style="margin:5px 5px 5px 5px; margin-top:20px">
    <div style="margin:5px 30px 5px 30px">
        <span style="font-family:'Segoe UI';font-size:large;text-shadow:1px 1px #0026ff;float:left">
            <font style="color:#00008b;font-family:'Segoe UI'">Αιτήσεις για εγγραφή ή επανεγγραφή </font>
        </span>
        <span style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px">@Html.ActionLink("Επιστροφή", "Index", "Parents", null, new { @class = "btn btn-warning", style = "font-size:14px" })</span>
        <button class="btn btn-primary" style="margin:0px 5px 5px 5px;float:right;font-family:'Segoe UI';font-size:14px" onclick="RefreshGrid()">Ανανέωση</button>
    </div>
</div>

<div class="body-content" style="margin:10px 30px 5px 30px">
    @(Html.Kendo().Grid<AitisiViewModel>()
        .Name("Grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.AITISI_PROTOCOL).Width(20).Filterable(false);
            columns.Bound(c => c.AITISI_DATE).Width(24).Filterable(false);
            columns.ForeignKey(f => f.CHILD_ID, (IEnumerable<sqlCHILD_SELECTOR>)ViewData["children"], "CHILD_ID", "FULLNAME").Width(40).EditorTemplateName("ParentChildId");
            columns.ForeignKey(f => f.STATION_ID, (IEnumerable<SYS_STATIONS>)ViewData["stations"], "ΣΤΑΘΜΟΣ_ΚΩΔ", "ΕΠΩΝΥΜΙΑ").Width(34).EditorTemplateName("StationId");
            columns.Bound(c => c.RE_REGISTRATION).ClientTemplate("<input type='checkbox' #= RE_REGISTRATION ? checked='checked' : '' # class='chkbx' ></input>").Width(20).Filterable(false);
            columns.Command(command => { command.Edit(); command.Custom("\u2716" + " Διαγραφή").Click("deleteRow"); }).Width(34);
            columns.Template(
                @<text></text>)
            .ClientTemplate(
            "<a title=\"Έντυπο αίτησης εγγραφής-επανεγγραφής\" class=\"k-button k-button-icontext\" href='" + Url.Action("AitisiPrint", "Parents") + "?aitisiId=#=AITISI_ID#' target = _blank><span class=\"k-icon k-justifyFull\"></span>Εκτύπωση</a>"
            ).Width(18);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
        })
        .Editable(edit => edit.Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top).DisplayDeleteConfirmation(false))
        .HtmlAttributes(new { style = "font-size:13px" })
        .Navigatable()
        .Filterable()
        .Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
        .Scrollable(scr => scr.Height(340))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(datasource => datasource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.AITISI_ID);
            model.Field(p => p.CHILD_ID).DefaultValue(0);
            model.Field(p => p.STATION_ID).DefaultValue(0);
            model.Field(p => p.AITISI_PROTOCOL).Editable(false);
            model.Field(p => p.AITISI_DATE).Editable(false);
        })
        .Create(create => create.Action("Aitisi_Create", "Parents"))
        .Read(read => read.Action("Aitisi_Read", "Parents"))
        .Update(update => update.Action("Aitisi_Update", "Parents"))
        //.Destroy(destroy => destroy.Action("Aitisi_Destroy", "Parents"))
        .Events(events => events.Error("error_handler"))
        ) @* datasource*@
    )
</div>

<script type="text/javascript">

    function deleteRow(e) {
        e.preventDefault();
        var grid = this; //Get the grid from which the pop-up is coming
        var row = $(e.currentTarget).closest("tr");
        var data = this.dataItem(row);
        var aitisiID = data.AITISI_ID;

        var text = "Θέλετε να γίνει διαγραφή της εγγραφής;";
        MessageBoxConfirm(text, "Επιβεβαίωση διαγραφής").done(function () {
            grid.removeRow(row);
            $.ajax({
                url: '@Url.Action("Aitisi_Delete", "Parents")?aitisiId=' + aitisiID,
                type: 'POST',
                data: "",
                contentType: 'application/json; charset=utf-8',
                success: function (out) {
                    if (out) MessageBoxAlert(out, "Ειδοποίηση");
                    RefreshGrid();
                },
                error: function () {
                    MessageBoxAlert("Προέκυψε σφάλμα. Δοκιμάστε πάλι αργότερα.", "Σφάλμα");
                }
            });
        }).fail(function () {
            return;
        });

    }

    function onEdited(e) {
        e.container.data().kendoWindow.bind("deactivate", function () { RefreshGrid(e); });
    }

    function RefreshGrid(e) {
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }

    function error_handler(e) {
        if (e.errors) {
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "<br/>";
                    });
                }
            });
            MessageBoxAlert(message, "Ειδοποίηση");
        }
        $("#Grid").data("kendoGrid").dataSource.read();
    }

</script>