
@{
    ViewBag.Title = "Αρχική Διαχειριστή";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div class="row" style="align-content:center;margin:20px 20px 20px 20px">

        @Html.Kendo().PanelBar().Name("infoPanel").Items(items =>
        {
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 1 (ΠΡΟΣ ΔΙΑΜΟΡΦΩΣΗ)")
            .Selected(true)
            .Expanded(false)
            .Content(
            @<text>
             </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 2 (ΠΡΟΣ ΔΙΑΜΟΡΦΩΣΗ)")
            .Content(
            @<text>
             </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 3 (ΠΡΟΣ ΔΙΑΜΟΡΦΩΣΗ)")
            .Content(
            @<text>
             </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 4 (ΠΡΟΣ ΔΙΑΜΟΡΦΩΣΗ)")
            .Content(
            @<text>
             </text>);
            items.Add()
            .Text("ΟΔΗΓΙΕΣ 5 (ΛΕΙΤΟΥΡΓΙΕΣ ΠΛΕΓΜΑΤΩΝ)")
            .Content(
            @<text>
                <div style="margin-left:6px;margin-right:6px">
                    <p class="sansserif"></p>
                    <p class="sansserif" style="font-size:medium">
                        <span>
                            <font style="font-family:'Segoe UI';font-size:large">
                                Δυνατότητες Προβολής Δεδομένων
                            </font>
                        </span>
                        <br />
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.png" style="width:42px;height:42px" />
                        Όταν τα δεδομένα εμφανίζονται μέσα σε πλέγματα (πίνακες) έχουμε στη διάθεσή μας ορισμένες
                        χρήσιμες δυνατότητες, οι οποίες είναι:
                        <ol>
                            <li>
                                Ταξινόμηση
                            </li>
                            <li>
                                Ομαδοποίηση
                            </li>
                            <li>
                                Φίλτρα
                            </li>
                        </ol>
                    </p>
                    <p class="sansserif">
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.1.png" style="width:42px;height:42px" />
                        Η ταξινόμηση αλλάζει κάνοντας κλικ επάνω στην κεφαλίδα μιας στήλης. Έχουμε τρία είδη
                        ταξινομήσης:
                        <ul>
                            <li>
                                Προεπιλεγμένη ταξινόμηση - αυτή που χρησιμοποιείται από την εφαρμογή. Δεν εμφανίζεται βελάκι στην κεφαλίδα.
                            </li>
                            <li>
                                Αύξουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα επάνω.
                            </li>
                            <li>
                                Φθίνουσα ταξινόμηση - εμφανίζεται βελάκι στην κεφαλίδα που δείχνει προς τα κάτω.
                            </li>
                        </ul>
                    </p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.2.png" style="width:42px;height:42px" />
                        Η ομαδοποίηση προβάλλει τα δεδομένα σε κατηγορίες που ορίζονται από τις κεφαλίδες των στηλών που
                        θα επιλέξουμε.<br />
                        Ο τρόπος λειτουργίας της ομαδοποίησης παρουσιάζεται με τρία τυπικά παραδείγματα:
                        <ol>
                            <li>
                                Έστω το πλέγμα με τις Αιτήσεις: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Κλάδος-Ειδικότητα' τότε
                                τα δεδομένα κατηγοριοποιούνται/ομαδοποιούνται σύμφωνα με τις τιμές της στήλης αυτής. Έτσι, μπορούμε
                                να έχουμε σε μια ομάδα όλους τους Φιλόλογους, σε άλλη τους Μηχανολόγους κ.λπ.
                            </li>
                            <li>
                                Έστω το πλέγμα με τις Αιτήσεις: Εάν ομαδοποιήσουμε με βάση τις στήλες 'Σχολική Μονάδα', 'Κλάδος-Ειδικότητα'
                                τότε τα δεδομένα ομαδοποιούνται πρώτα ανά Σχολείο, και μετά ανά Ειδικότητα. Έτσι. δημιουργούμε ομάδες
                                δεδομένων μέσα σε άλλη ομάδα.
                            </li>
                            <li>
                                Έστω το πλέγμα με τις Διδακτικές: Εάν ομαδοποιήσουμε με βάση τη στήλη 'Σχολικό Έτος' τότε
                                τα δεδομένα ομαδοποιούνται ανά σχολικό έτος.
                            </li>
                        </ol>
                    </p>
                    <p></p>
                    <p class="sansserif">
                        <img src="~/Images/phone/appbar.card.3.png" style="width:42px;height:42px" />
                        Τα φίλτρα ως προς μια ή περισσότερες στήλες δίνουν τη δυνατότητα εμφάνισης μόνο των δεδομένων
                        που ικανοποιούν τα κριτήρια που εισάγαμε.<br />
                        Για να εισάγουμε ένα κριτήριο σε μια στήλη κάνουμε κλικ στο σύμβολο φίλτρου που υπάρχει σε κάθε
                        κεφαλίδα στήλης. Στη συνέχει ορίζουμε το φίλτρο. Ενδεικτικά, αναφέρουμε τρία παραδείγματα:
                        <ol>
                            <li>
                                Έστω το πλέγμα Αιτήσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Ονοματεπώνυμο' ως:<br />
                                'Αρχίζει από' + "Κ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Ονοματεπώνυμο'
                                έχει τιμές όπου το πρώτο γράμμα είναι 'Κ' (προσοχή στο ελληνικό Κ και Λατινικό Κ - δεν είναι ίδια.)
                            </li>
                            <li>
                                Έστω το πλέγμα Αιτήσεων. Αν ορίσουμε το φίλτρο στη στήλη 'Κλάδος-Ειδικότητα' ως:<br />
                                'Περιέχει' + "ΜΗΧΑΝ", εμφανίζονται μόνο οι εγγραφές για τις οποίες η στήλη 'Κλάδος-Ειδικότητα'
                                έχει τιμές που περιέχουν το λεκτικό αυτό. Το αποτέλεσμα είναι η προβολή όλων των Μηχανολόγων και Μηχανικών.
                            </li>
                            <li>
                                Έστω το πλέγμα Διδακτικών. Αν ορίσουμε το φίλτρο στη στήλη 'Ημ/νια από' ως:<br />
                                'Μετά από ή ίση με' + "01/01/2010" ΚΑΙ 'Πριν από' + "31/12/2012", εμφανίζονται
                                μόνο οι εγγραφές για τις οποίες η στήλη 'Ημ/νία από' έχει τιμές που ικανοποιούν το κριτήριο αυτό.
                                Το αποτέλεσμα είναι η προβολή όλων των διδακτικών προϋπηρεσιών μεταξύ των δύο ημερομηνιών που ορίσαμε.
                            </li>

                        </ol>
                    </p>
                    <p /><br />
                </div>
            </text>);

        }).ExpandMode(PanelBarExpandMode.Multiple)
    </div>
</body>
